*{
    box-sizing: border-box;
    
    margin: 0;
    padding: 0;

}
html{
    scroll-behavior: smooth;
}

/*MENU*/
.contenedor-header{
    background-color:rgba(0, 0, 0, 0) ;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}
.contenedor-header header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px;

}
.contenedor-header header .logo img{
    width: 60px;
    text-decoration: none;
    
    
}
.contenedor-header header ul{
    display: flex;
    list-style: none;
}
.contenedor-header header nav ul li a{
    text-align: left;
    color: #fff;
    margin: 0px 10px;
    padding: 15px;
    transition: .5s;
    text-decoration: none;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    padding-left: 20px;

}
.contenedor-header header nav ul li a:hover{
    color: #fff;
    background-color: orangered;
}
.contenedor-header header nav1 ul li a{
    text-align: left;
    color: #fff;
    margin: 0px 10px;
    padding: 15px;
    transition: .5s;
    text-decoration: none;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    padding-left: 20px;

}
.contenedor-header header nav1 ul li a:hover{
    color: black;
    background-color: #fff;
}


.nav-responsive{
    background-color: orangered;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}
/* seccion SOBRE MI */
.sobremi{
    background-color: black;
    color: #fff;
    display: flex;
    align-items: left;
}
.sobremi .contenido-banner{
    padding: 20px;
    max-width: 100%;
    margin: 70px;
    text-align: left;
}
.sobremi .contenido-banner  img{
    margin-top: 0px;
    background: linear-gradient(to top, rgba(30,35,38,.8),rgba(30,35,38,1));
    
    background-image: url(img/img2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    padding: 0px;
    text-align: center;
    float: right;
    width: 500px;
    height: auto;
    position: absolute;
    top: 0;
    right: 0;

}
.sobremi .contenido-banner h2{
    margin-top: 60px;
    font-size: 18px;
    font-family: sans-serif;
    border: 10px rgba(255, 81, 0, 0.4);
    display: block;
    border-radius: 5px;
    background-color:rgba(255, 69, 0, 0.4) ;
    color: orangered;
    font-weight: 100;
    width: 200px;
    text-align: center;
    padding: 10px;
}
.sobremi .contenido-banner h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 15px;
    font-size: 45px;
}
.sobremi .contenido-banner h3{
    margin-top: 15px;
    font-size: 18px;
    font-family: sans-serif;
}
 .sobremi .contenido-banner p{
    width: 500px;
    font-family: sans-serif;
    margin-top: 25px;
 }
 .sobremi .contenido-banner a button{
    margin-top: 40px;
    margin-left: 15px;
    padding: 15px 30px;
    border: 1px #fff solid;
    border-radius: 5px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0);
    font-size: 20px;
    cursor: pointer;
 }
 .sobremi .contenido-banner a button:hover{
    color: #fff;
    background-color: orangered;
 }
 /* seccion SERVICIOS */
 .servicios{
    background-color: black;
    color: #fff;
    display: flex;
    align-items: center;
    
 }
 .servicios .contenedor-servicios{
    justify-content: center;
    text-align: center;
   
 }
 .servicios .contenedor-servicios h2{
    color: #fff;
    font-size: 40px;
    
 }
 .servicios .contenedor-servicios p{
    color: #fff;
    font-size: 15px;
    max-width: 80%;
    text-align: center;
    margin: 50px;
    padding-left: 15%;
 }
 /* GRILLA DE SERVICIOS */
 .servicios .contenedor-servicios .grilla-servicios{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin-left: 15%;
    margin-right: 20%;
 }
 /* DISEÑO WEB */
 .servicios .contenedor-servicios  .diseño-web{
    display: flex;
    align-items: center;
    border-radius: 5px;
    background-color: #252A2E;
    padding: 10px;
   
    width: 300px;
    height: 80px;
    justify-content: center;
    cursor: pointer;
    
 }
 .servicios .contenedor-servicios .diseño-web:hover{
    color: #fff;
    background-color: orangered; 
 }
 .servicios .contenedor-servicios .diseño-web img{
    width: 15%;
 }
 .servicios .contenedor-servicios .diseño-web p{
    max-width: 100%;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    margin: 0 60px 0 20px;
 }
 /* HABILIDADES ANALITICAS */
 .servicios .contenedor-servicios .habilidades-analiticas{
    display: flex;
    align-items: center;
    border-radius: 5px;
    background-color: #252A2E;
    padding: 10px;
    
    width: 300px;
    height: 80px;
    justify-content: center;
    cursor: pointer;
    
 }
 .servicios .contenedor-servicios .habilidades-analiticas:hover{
    color: #fff;
    background-color: orangered; 
 }
 .servicios .contenedor-servicios .habilidades-analiticas img{
    width: 15%;
 }
 .servicios .contenedor-servicios .habilidades-analiticas p{
    max-width: 100%;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    margin: 0 60px 0 20px;
 }
 /* DESARROLLO WEB */
 .servicios .contenedor-servicios .desarrollo-web{
    display: flex;
    align-items: center;
    border-radius: 5px;
    background-color: #252A2E;
    padding: 10px;
    
    width: 300px;
    height: 80px;
    justify-content: center;
    cursor: pointer;
    
 }
 .servicios .contenedor-servicios .desarrollo-web:hover{
    color: #fff;
    background-color: orangered; 
 }
 .servicios .contenedor-servicios .desarrollo-web img{
    width: 15%;
 }
 .servicios .contenedor-servicios .desarrollo-web p{
    max-width: 100%;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    margin: 0 60px 0 20px;
 }
 /* DISEÑO GRAFICO */
 .servicios .contenedor-servicios .diseño-grafico{
    display: flex;
    align-items: center;
    border-radius: 5px;
    background-color: #252A2E;
    padding: 10px;
    
    width: 300px;
    height: 80px;
    justify-content: center;
    cursor: pointer;
    
 }
 .servicios .contenedor-servicios .diseño-grafico:hover{
    color: #fff;
    background-color: orangered; 
 }
 .servicios .contenedor-servicios .diseño-grafico img{
    width: 15%;
 }
 .servicios .contenedor-servicios .diseño-grafico p{
    max-width: 100%;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    margin: 0 60px 0 20px;
 }
 /* APLICACION */
 .servicios .contenedor-servicios .aplicacion{
    display: flex;
    align-items: center;
    border-radius: 5px;
    background-color: #252A2E;
    padding: 10px;
    
    width: 300px;
    height: 80px;
    justify-content: center;
    cursor: pointer;
    
 }
 .servicios .contenedor-servicios .aplicacion:hover{
    color: #fff;
    background-color: orangered; 
 }
 .servicios .contenedor-servicios .aplicacion img{
    width: 15%;
    margin-left: -30px;
 }
 .servicios .contenedor-servicios .aplicacion p{
    max-width: 100%;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    margin: 0 60px 0 20px;
 }
 .servicios .contenedor-servicios .aplicacion span{
   display: flex;
   text-align: right;
 }
 /* SOLUCION DE PROBLEMAS */
 .servicios .contenedor-servicios .solucion-problemas{
    display: flex;
    align-items: center;
    border-radius: 5px;
    background-color: #252A2E;
    padding: 10px;
    
    width: 300px;
    height: 80px;
    justify-content: center;
    cursor: pointer;
    
 }
 .servicios .contenedor-servicios .solucion-problemas:hover{
    color: #fff;
    background-color: orangered; 
 }
 .servicios .contenedor-servicios .solucion-problemas img{
    width: 15%;
    margin-left: -10px;
 }
 .servicios .contenedor-servicios .solucion-problemas p{
    max-width: 100%;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    margin: 0 10px 0 10px;
 }
 /* VER TODO */
 .ver-todo a button{
    padding-top: 40px;
    margin-top: 50px;
    margin-left: 15px;
    padding: 15px 30px;
    border: 1px #fff solid;
    border-radius: 5px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0);
    font-size: 15px;
    cursor: pointer;
 }
 .ver-todo a button:hover{
    color: #fff;
    background-color: orangered;
    border: none;
 }

/* seccion PORTFOLIO */
.portfolio{
    background-color: black;
    font-family: Arial, sans-serif;
    color: #fff;
    margin: 0;
    padding: 40px 20px;
    text-align: center;
}
.portfolio .contenedor-portfolio{
    margin: 0 auto;
    justify-content: center;
    text-align: center; 
    width: 100%;
}
.portfolio .contenedor-portfolio .intro h3{
    font-size: 1.5rem;
    font-weight: normal;
    color: #aaa;
    margin-bottom: 10px;
    justify-content: flex-start;
    text-align: left;
    margin: 70px;
    margin-bottom: 20px;
    max-width: 40%;
}
.portfolio .contenedor-portfolio .intro h2{
    font-size: 2.5rem;
    margin-left: 70px;
    margin-top: 20px;
    justify-content: flex-start;
    text-align: left;
    

}
.portfolio .contenedor-portfolio .descripcion{
    display: flex;
    justify-content: space-between; 
    flex-direction: column;
    text-align: left;
    margin-bottom: 40px;
    width: 500px;
    margin-left: 60%;
    margin-right: 10%;
    margin-top: 0;
    padding: 0;
}
.portfolio .contenedor-portfolio .descripcion p{
    font-size: 1rem;
    color: #aaa;
    max-width: 100%;
    margin: 0;
}
.portfolio .contenedor-portfolio .descripcion .ver-todo1{
    font-size: 0.7rem;
    color: orangered;
    text-decoration: none;
    transition: color 0.3s ease;
    padding-top: 10px;
    display: flex;
    text-align: left;
    font-weight: 100;
    
}
.portfolio .contenedor-portfolio .descripcion .ver-todo1:hover{
    color: #e03e00;
}
.portfolio .contenedor-portfolio .grilla-portfolio{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    flex-direction: row;
    cursor: pointer;
}
/* caso 1 */
.portfolio .contenedor-portfolio .grilla-portfolio .caso1 img{
    width: 300px;
    background-color: gray;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 20px;
}
.portfolio .contenedor-portfolio .grilla-portfolio .caso1:hover{
    transform: translateY(-10px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}
/* caso 2 */
.portfolio .contenedor-portfolio .grilla-portfolio .caso2 img{
    width: 300px;
    background-color: #252A2E ;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 20px;
}
.portfolio .contenedor-portfolio .grilla-portfolio .caso2:hover{
    transform: translateY(-10px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}
/* caso 3 */
.portfolio .contenedor-portfolio .grilla-portfolio .caso3 img{
    width: 300px;
    background-color: gray;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 20px;
}
.portfolio .contenedor-portfolio .grilla-portfolio .caso3:hover{
    transform: translateY(-10px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}
/* PLANES */
.portfolio .contenedor-planes{
    justify-content: center;
    text-align: center;
    padding-top: 30px;
}
.portfolio .contenedor-planes h2{
    color: #fff;
    font-size: 40px;
    
 }
 .portfolio .contenedor-planes p{
    color: #fff;
    font-size: 12px;
    width: 70%;
    text-align: center;
    margin-top: 20px;
    margin-left: 9%;
    margin-right: 9%;
    padding-left: 15%;  
 }
 .portfolio .contenedor-planes .grilla-planes{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    width: 100%;
    padding-top: 40px;
 }
 /* BASICO */
 .portfolio .contenedor-planes .grilla-planes .basico{
    background-color: rgba(37, 42, 46, 0.4);
    border-radius: 5px;
    padding: 15px; 
 }
 .portfolio .contenedor-planes .grilla-planes .basico h3{
    font-weight: 100;
 }
 .portfolio .contenedor-planes .grilla-planes .basico h2{
    color: orangered;
    padding-top: 20px;
 }
 .portfolio .contenedor-planes .grilla-planes .basico p{
    padding-bottom: 10px;
 }
 .portfolio .contenedor-planes .grilla-planes .basico a button{
    border: 1px orangered solid;
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    padding: 10px;
    cursor: pointer;
    padding-top: 10px;
    border-radius: 5px;
 }
 .portfolio .contenedor-planes .grilla-planes .basico a button:hover{
    background-color: orangered;
 }
 /* ESTANDAR */ 
 .portfolio .contenedor-planes .grilla-planes .estandar{
    background-color: rgba(37, 42, 46, 0.4);
    border-radius: 5px;
    padding: 15px;
 }

 .portfolio .contenedor-planes .grilla-planes .estandar h3{
    font-weight: 100;
 }
 .portfolio .contenedor-planes .grilla-planes .estandar h2{
    color: orangered;
    padding-top: 20px;
 }
 .portfolio .contenedor-planes .grilla-planes .estandar p{
    padding-bottom: 10px;
 }
 .portfolio .contenedor-planes .grilla-planes .estandar a button{
    border: 1px orangered solid;
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    padding: 10px;
    cursor: pointer;
    padding-top: 10px;
    border-radius: 5px;
 }
 .portfolio .contenedor-planes .grilla-planes .estandar a button:hover{
    background-color: orangered;
 }
  /* PREMIUM */ 
  .portfolio .contenedor-planes .grilla-planes .premium{
    background-color: rgba(37, 42, 46, 0.4);
    border-radius: 5px;
    padding: 15px;
 }

 .portfolio .contenedor-planes .grilla-planes .premium h3{
    font-weight: 100;
 }
 .portfolio .contenedor-planes .grilla-planes .premium h2{
    color: orangered;
    padding-top: 20px;
 }
 .portfolio .contenedor-planes .grilla-planes .premium p{
    padding-bottom: 10px;
 }
 .portfolio .contenedor-planes .grilla-planes .premium a button{
    border: 1px orangered solid;
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    padding: 10px;
    cursor: pointer;
    padding-top: 10px;
    border-radius: 5px;
 }
 .portfolio .contenedor-planes .grilla-planes .premium a button:hover{
    background-color: orangered;
 }
  /* DORADO */ 
  .portfolio .contenedor-planes .grilla-planes .dorado{
    background-color: rgba(37, 42, 46, 0.4);
    border-radius: 5px;
    padding: 15px;
 }

 .portfolio .contenedor-planes .grilla-planes .dorado h3{
    font-weight: 100;
 }
 .portfolio .contenedor-planes .grilla-planes .dorado h2{
    color: orangered;
    padding-top: 20px;
 }
 .portfolio .contenedor-planes .grilla-planes .dorado p{
    padding-bottom: 10px;
 }
 .portfolio .contenedor-planes .grilla-planes .dorado a button{
    border: 1px orangered solid;
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    padding: 10px;
    cursor: pointer;
    padding-top: 10px;
    border-radius: 5px;
 }
 .portfolio .contenedor-planes .grilla-planes .dorado a button:hover{
    background-color: orangered;
 }
/* seccion TESTIMONIOS */
.testimonios{
    margin: 0;
    padding-top: 7%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 20%;
    margin-right: 20%;
    text-align: left;
}
.testimonios h3{
    font-size: 1rem;
    font-weight: 120;
    width: 100%;
}
.testimonios h2{
    margin-top: 1em;
    font-size: 2.5rem;
    margin-bottom: 1em;
    font-family: 'Times New Roman', Times, serif;
}
.testimonios .contenedor-testimonios{
    position: relative;  
}
.testimonios .contenedor-testimonios .testimonio{
    background-color:rgba(37, 42, 46, 0.4) ;
    padding: 2em;
    border-radius: 8px;
    display: none;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    justify-content: space-evenly;
    justify-content: space-between;
}
.testimonios .contenedor-testimonios .testimonio img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px #fff solid;
}
.testimonios .contenedor-testimonios .testimonio p{
    flex-grow: 1;
    text-align: left;
}
.testimonios .contenedor-testimonios .testimonio h3{
    margin: 0.5em 0 0.2em 0;
}
.testimonios .contenedor-testimonios .testimonio span{
    font-size: 0.9em;
    color: #bbb;
}
.paginas{
    margin-top: 1em;
}
.paginas .punto{
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    cursor: pointer;
}
input[type="radio"]{
    display: none;
}
input[type="radio"]:checked + .testimonio{
    display: flex;
}
input[type="radio"]#testimonio-1:checked ~ .paginas .punto:nth-of-type(1)
input[type="radio"]#testimonio-2:checked ~ .paginas .punto:nth-of-type(2)
input[type="radio"]#testimonio-3:checked ~ .paginas .punto:nth-of-type(3){
    background-color: orangered;
}
.punto:checked{
    background-color: orangered;
    color: orangered;
}
.punto:hover{
    background-color: orangered;

}
/* seccion BLOG */
.blog{
    background-color: black;
    font-family: Arial, sans-serif;
    color: #fff;
    margin: 0;
    padding: 40px 20px;
    text-align: center;
}
.blog h2{
    font-size: 40px;
}
.blog p{
    color: #fff;
    font-size: 12px;
    width: 70%;
    text-align: center;
    margin-top: 20px;
    margin-left: 9%;
    margin-right: 9%;
    padding-left: 15%;
    line-height: 20px;
}
.blog .posteos{
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
    justify-content: center;
    width: 80%;
    text-align: center;
    flex-direction: row;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: space-evenly;
    padding-top: 5%;
}
/* POST 1 */
.blog .posteos .blog-post1{
    width: 250px;
    text-align: left;
}
.blog .posteos .blog-post1 img{
    width: 250px;
    border-radius: 5px;
}
.blog .posteos .blog-post1 .info-posteo{
    line-height: 40px;
}
.blog .posteos .blog-post1 .info-posteo span{
    font-weight: 100;
    font-family: 'Times New Roman', Times, serif;
}
.blog .posteos .blog-post1 .info-posteo h3{
    font-weight: 100;
    line-height: 15px;
}
.blog .posteos .blog-post1 .info-posteo .leer-mas{
    
    color: orangered;
    font-weight: 100;
    text-decoration: none;   
}
.blog .posteos .blog-post1 .info-posteo .leer-mas:hover{
    color: orangered;
    font-weight: 150;
    text-decoration: underline;   
}
/* POST 2 */
.blog .posteos .blog-post2{
    width: 250px;
    text-align: left;
}
.blog .posteos .blog-post2 img{
    width: 250px;
    border-radius: 5px;
}
.blog .posteos .blog-post2 .info-posteo{
    line-height: 40px;
}
.blog .posteos .blog-post2 .info-posteo span{
    font-weight: 100;
    font-family: 'Times New Roman', Times, serif;
}
.blog .posteos .blog-post2 .info-posteo h3{
    font-weight: 100;
    line-height: 15px;
}
.blog .posteos .blog-post2 .info-posteo .leer-mas{
    
    color: orangered;
    font-weight: 100;
    text-decoration: none;   
}
.blog .posteos .blog-post2 .info-posteo .leer-mas:hover{
    color: orangered;
    font-weight: 150;
    text-decoration: underline;   
}
/* POST 3 */
.blog .posteos .blog-post3{
    width: 250px;
    text-align: left;
}
.blog .posteos .blog-post3 img{
    width: 250px;
    border-radius: 5px;
}
.blog .posteos .blog-post3 .info-posteo{
    line-height: 40px;
}
.blog .posteos .blog-post3 .info-posteo span{
    font-weight: 100;
    font-family: 'Times New Roman', Times, serif;
}
.blog .posteos .blog-post3 .info-posteo h3{
    font-weight: 100;
    line-height: 15px;
}
.blog .posteos .blog-post3 .info-posteo .leer-mas{
    
    color: orangered;
    font-weight: 100;
    text-decoration: none;   
}
.blog .posteos .blog-post3 .info-posteo .leer-mas:hover{
    color: orangered;
    font-weight: 150;
    text-decoration: underline;   
}
.boton{
    margin-top: 70px;
}
.ver-todo-blog{
    border: 1px #fff solid;
    border-radius: 5px;
    padding: 15px 60px 15px 60px;
    margin-top: 100%;
    color: orangered;
    text-decoration: none;
    cursor: pointer;
}
.ver-todo-blog:hover{
    background-color: orangered;
    border: none;
    color: #fff;
    box-shadow: orangered;
    transition: transform 0.5s, opacity 0.5s;
}
/* FOOTER */
footer{
    background-color: black;
    color: #fff;
    padding: 40px 0;
    text-align: center;
}
.suscribirse{
    background-color: rgba(37, 42, 46, 0.3);
    padding: 80px 200px;
    margin: 0 auto;
    width: 80%;
    border-radius: 100px 10px 10px 10px ;
    
}
.suscribirse h2{
    color: orangered;
    font-size: 1.5em;
    margin-bottom: 20px;
    width: 100%;
    line-height: 40px;
}
.suscribirse form{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    gap: 15px;
    height: 100px;
}
.suscribirse input{
    padding: 10px;
    border: none;
    border-radius:5px;
    width: 60%;
}
.suscribirse button{
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: orangered;
    color: white;
    cursor: pointer;
}
.contenedor-contacto{
    margin-left: 15%;
    margin-right: 10%;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    gap: 40%;
}
.contenedor-contacto .info-contacto{
    width: 100%;
}
.contenedor-contacto .info-contacto p{
    width: 100%;
    text-align: left;
    margin-top: 15%;
    font-size: 1.2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif  ;
}
.info-contacto1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;  
}
.contenedor-contacto .info-contacto1 div h3{
    text-align: center;
    gap: 20px;
    padding-bottom: 50px;
}

.info-contacto1 .lorem p{
    text-align: left;
    font-weight: 100;
    font-size: 1em;
    padding-right: 60px;
}
.info-contacto1 .info1 p{
    text-align: center;
    line-height: 10px;
    font-weight: 100;
    font-size: 0.7em;
    padding-top: 25px;
}
.info-contacto1 .info2 p{
    text-align: center;
    line-height: 30px;
    font-weight: 100;
    font-size: 0.8em;
}
.info-contacto1 .info3 p{
    text-align: center;
    line-height: 20px;
    font-weight: 100;
    font-size: 0.7em;
}

/* seccion social */

.seccion-logo{
    margin: 40px 0;
    text-align: left;
    line-height: 20px;
}
.seccion-logo img{
    width: 80px;
}
.seccion-logo p{
    font-size: 0.9em;
    color: #aaa;
}
.seccion-social{
    background-color: orangered;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    border-top: 1px solid #444;
    
}
.seccion-social .iconos-sociales{
    display: flex;
    gap: 15px;
}
.seccion-social .iconos-sociales i{
    color: #fff;
    text-decoration: none;
    font-size: 1.4em;
}









    


