*{
    box-sizing: border-box;
    
    margin: 0;
    padding: 0;

}
html{
    scroll-behavior: smooth;
}

/*MENU*/
.contenedor-header{
    background-color:rgba(0, 0, 0, 0) ;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}
.contenedor-header header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px;

}
.contenedor-header header .logo img{
    width: 60px;
    text-decoration: none;
    
    
}
.contenedor-header header ul{
    display: flex;
    list-style: none;
}
.contenedor-header header nav ul li a{
    text-align: left;
    color: #fff;
    margin: 0px 10px;
    padding: 15px;
    transition: .5s;
    text-decoration: none;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    padding-left: 20px;

}
.contenedor-header header nav ul li a:hover{
    color: #fff;
    background-color: orangered;
}
.contenedor-header header nav1 ul li a{
    text-align: left;
    color: #fff;
    margin: 0px 10px;
    padding: 15px;
    transition: .5s;
    text-decoration: none;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    padding-left: 20px;

}
.contenedor-header header nav1 ul li a:hover{
    color: black;
    background-color: #fff;
}


.nav-responsive{
    background-color: orangered;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}
/* seccion SOBRE MI */
.sobremi{
    background-color: black;
    color: #fff;
    display: flex;
    align-items: left;
}
.sobremi .contenido-banner{
    padding: 20px;
    max-width: 100%;
    margin: 70px;
    text-align: left;
}
.sobremi .contenido-banner  img{
    margin-top: 0px;
    background: linear-gradient(to top, rgba(30,35,38,.8),rgba(30,35,38,1));
    
    background-image: url(img/img2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    padding: 0px;
    text-align: center;
    float: right;
    width: 500px;
    height: auto;
    position: absolute;
    top: 0;
    right: 0;

}
.sobremi .contenido-banner h2{
    margin-top: 60px;
    font-size: 18px;
    font-family: sans-serif;
    border: 10px rgba(255, 81, 0, 0.4);
    display: block;
    border-radius: 5px;
    background-color:rgba(255, 69, 0, 0.4) ;
    color: orangered;
    font-weight: 100;
    width: 200px;
    text-align: center;
    padding: 10px;
}
.sobremi .contenido-banner h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 15px;
    font-size: 45px;
}
.sobremi .contenido-banner h3{
    margin-top: 15px;
    font-size: 18px;
    font-family: sans-serif;
}
 .sobremi .contenido-banner p{
    width: 500px;
    font-family: sans-serif;
    margin-top: 25px;
 }
 .sobremi .contenido-banner a button{
    margin-top: 40px;
    margin-left: 15px;
    padding: 15px 30px;
    border: 1px #fff solid;
    border-radius: 5px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0);
    font-size: 20px;
    cursor: pointer;
 }
 .sobremi .contenido-banner a button:hover{
    color: #fff;
    background-color: orangered;
 }